{{- /* Shared copy button of the code containers:
       - .code-card, rendered by layouts/_markup/render-codeblock.html
       - .codeblock, rendered by layouts/shortcodes/codeblock.html
     The click behaviour lives in layouts/partials/extend_footer.html. */ -}}
<button type="button" class="code-copy" data-code-copy aria-label="Copy code" title="Copy code">
    <svg class="code-copy__icon code-copy__icon--copy" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
        <rect x="9" y="9" width="13" height="13" rx="2" ry="2"></rect>
        <path d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1"></path>
    </svg>
    <svg class="code-copy__icon code-copy__icon--done" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
        <polyline points="20 6 9 17 4 12"></polyline>
    </svg>
</button>
